/* * {
	border: 1px solid red;
} */
body {
	min-width: 1440px;
	height: auto;
	margin: auto;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #283136;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#logo:active {
	opacity: 0.3;
}
a {
	color: inherit;
	text-decoration: none;
}

hr {
	height: 2px;
	width: 1158px;
	background: #eeeeee;
	border: none;
}

.header {
	display: flex;
	justify-content: space-between;
	background: #eeeeee;
	padding: 49px 143px 0;
}

.header_basket {
	display: flex;
	gap: 25px;
	align-items: center;
}

.header_basket span {
	text-align: right;
}

.menu {
	display: flex;
	align-items: center;
	padding: 0;
	gap: 45px;
}

.menu_item {
	list-style-type: none;
	color: #000000;
}
.underline {
	display: none;
	width: 74px;
	height: 2px;
	background: #fb565a;
}
.menu_item--active {
	position: relative;
}
.underline {
	display: block;
	position: absolute;
	margin-top: 11px;
}
.menu_item:hover {
	color: #fb565a;
}
.menu_item:active {
	color: #000000;
	opacity: 0.3;
}

.slider {
	background: #eeeeee;
	padding: 0 143px;
}

.slide_header {
	width: 520px;
	max-width: 538px;
	position: absolute;
	top: 70px;
	margin: 0;
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	color: #000000;
}

.slide_header + p {
	width: 370px;
	position: relative;
	top: 180px;
	line-height: 24px;
	font-weight: 400;
	margin-top: 25px 0 0 0;
}

.button {
	display: block;
	text-transform: uppercase;
	background: #fb565a;
	border: none;
	border-radius: 3px;
	width: 160px;
	height: 50px;
	text-align: center;
	padding: 17px 40px 15px;
	margin: 49px 0;
	box-sizing: border-box;
	font-weight: 500;
	line-height: 18px;
	color: #ffffff;
}
.button:hover {
	background: #e74246;
}
.button:active {
	background: #d7373b;
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.button:active > span {
	opacity: 0.3;
}
.button--slide {
	position: absolute;
	top: 260px;
	width: 240px;
	padding: 17px 54px 15px;
	margin: 38px 0;
}

.slide_image {
	float: right;
}

.nav-dot {
	display: none;
	width: 0;
	height: 0;
}
.nav-dot + #label1 {
	display: inline-block;
	position: absolute;
	left: 780px;
	top: 440px;
	z-index: 1;
}

.nav-dot + #label2 {
	display: inline-block;
	position: absolute;
	left: 815px;
	top: 440px;
	z-index: 1;
}

.nav-dot + #label3 {
	display: inline-block;
	position: absolute;
	left: 850px;
	top: 440px;
	z-index: 1;
}

.nav-dot:checked + label + .slide {
	display: inline;
	position: relative;
}

.slide {
	display: none;
}

.nav-dot + label:before {
	position: absolute;
	cursor: pointer;
	background: #ffffff;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	content: " ";
	box-sizing: border-box;
}

.nav-dot:checked + label:after {
	position: absolute;
	left: 5px;
	top: 5px;
	content: " ";
	width: 8px;
	height: 8px;
	border: 2px solid #c1c1c1;
	border-radius: 50%;
	box-sizing: border-box;
}

.orders {
	display: flex;
	justify-content: space-between;
	margin: 80px 200px 80px 140px;
}

.order_header {
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	margin-top: 25px;
	color: #000000;
}

.order_header + p {
	max-width: 260px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	margin-top: 16px;
}

.button--red {
	background-color: #fb565a;
}

.button--green {
	background-color: #00ca74;
}
.button--green:hover {
	background-color: #00bc6c;
}
.button--green:active {
	background-color: #00aa62;
}
.button--green:active > span {
	opacity: 0.3;
}
.button--yellow {
	background-color: #efc849;
}
.button--yellow:hover {
	background-color: #eab534;
}
.button--yellow:active {
	background-color: #e5a722;
}
.button--yellow:active > span {
	opacity: 0.3;
}

.about-nerds {
	display: flex;
	justify-content: space-between;
	margin: 73px 140px 73px 140px;
}

.about_header {
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
	margin-top: 73px;
	color: #000000;
}

.about p {
	margin-top: 32px;
}

.small-header {
	text-transform: uppercase;
	font-weight: 700;
	color: #000000;
}

.about-nerds .small-header {
	margin-top: 40px;
	text-transform: uppercase;
	color: #000000;
	font-weight: 700;
}

.about ul {
	padding: 0;
	margin-top: 23px;
}

.about hr {
	display: inline-block;
	width: 25px;
	height: 2px;
	background-color: #fb565a;
	margin-right: 5px;
	vertical-align: middle;
}

.about li {
	list-style-type: none;
	margin-bottom: 20px;
}

.nerds {
	text-align: center;
}

.stats {
	display: flex;
	justify-content: space-evenly;
}

.stat {
	margin-right: 25px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.stat .stat_percentage {
	margin: 0;
	font-weight: 700;
	font-size: 45px;
	line-height: 64px;
	color: #000000;
}

.stat_percentage + p {
	margin: 11px 0 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-align: left;
}

.nerds .small-header {
	margin: 37px auto 31px;
	text-transform: uppercase;
}

.stat span {
	font-size: 26px;
	line-height: 40px;
	vertical-align: super;
}

.clients {
	display: flex;
	justify-content: space-between;
	margin: 46px 183px 44px 172px;
}

.vl {
	border-left: 2px solid #eeeeee;
	height: 52px;
}

.client-image {
	display: inline-block;
	height: 100%;
	vertical-align: text-bottom;
	opacity: 0.2;
}
.client-image:hover {
	opacity: 1;
}
.client-image:active {
	opacity: 0.1;
}
.client-image:last-child {
	border: none;
}

.contacts {
	margin-top: 80px;
	margin-bottom: 75px;
	position: relative;
	width: 100vw;
	text-align: center;
}

.contacts img {
	z-index: 0;
}

.contact-form {
	z-index: 1;
	background-color: #ffffff;
	position: absolute;
	left: 140px;
	top: 54px;
	width: 319px;
	height: 308px;
	padding: 49px 39px 50px 47px;
	box-sizing: border-box;
}

.contact-form + img {
	position: absolute;
	left: 822px;
	top: 86px;
}

.contacts .small-header {
	margin: 0;
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;
}

.contacts .small-header + p {
	margin-top: 23px;
	margin-bottom: 37px;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: #666666;
}

.button--contact {
	padding: 17px 44px 15px;
	width: 219px;
}

.footer {
	display: flex;
	align-items: center;
	gap: 9px;
	padding: 0 140px 68px;
	margin-bottom: 0;
}

.footer_image {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 81px;
	height: 81px;
	border-radius: 50%;
	background: linear-gradient(0deg, #e1e1e1, #e1e1e1), #ffffff;
}
.footer_image:hover {
	background: linear-gradient(0deg, #e74246, #e74246);
}
.footer_image:active {
	background: linear-gradient(0deg, #d7373b, #d7373b);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.footer_image:active > img {
	opacity: 0.3;
}
.footer_text {
	margin: auto;
	width: 585px;
}

.footer_text--bold {
	font-weight: 700;
	font-size: 36px;
	display: inline-block;
}

.catalog {
	background: #eeeeee;
}

.catalog_header {
	text-align: center;
	margin: 72px auto 108px;
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	color: #000000;
}

.filters {
	display: flex;
	flex-direction: column;
}
.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 48px;
	margin-bottom: 25px;
}
.card_buttons {
	border-radius: 5px 5px 0 0;
	height: 40px;
	background-color: #4d4d4d;
	opacity: 0.12;
	display: flex;
	line-height: 40px;
	vertical-align: middle;
	padding-left: 10px;
	padding-top: 10px;
	box-sizing: border-box;
}
.card_buttons label {
	margin-right: 20px;
}
.card_buttons label:before {
	width: 14px;
	height: 14px;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.card_buttons input:checked + label:after {
	display: none;
}
.card {
	background: #ffffff;
	border-radius: 5px;
	margin-bottom: 30px;
	position: relative;
}

.card:hover .card_buttons {
	opacity: 1;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.card:hover {
	box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
}
.card:hover .card_name {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-end;
	justify-content: space-between;
}
.card_image {
	width: 358px;
	height: 578px;
	border-radius: 0 0 5px 5px;
}
.card_name {
	/* margin-top: 349px; */
	border-radius: 0 0 5px 5px;
	width: 360px;
	height: 231px;
	width: 100%;
	background-color: #eeeeee;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 10;
	display: none;
	box-sizing: border-box;
	padding: 26px 0 44px 0;
}
.card_name p {
	max-width: 255px;
	text-align: center;
}
.card_name * {
	margin: 0;
}
.content {
	display: flex;
	margin: 40px 140px 0 140px;
}
.left-filters form {
	height: 700px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.fslider {
	width: 260px;
	height: 80px;
	background: #eeeeee;
	border-radius: 3px;
}

.fslider_circle {
	z-index: 1;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ffffff;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
}
.fslider_circle--first {
	position: relative;
	left: 18px;
	top: 30px;
}
.fslider_circle--second {
	position: relative;
	left: 150px;
	top: 10px;
}
.fslider_circle_small {
	width: 4px;
	height: 4px;
	background: #ababab;
	border-radius: 50%;
}

.fslider_circle_small--first {
	position: relative;
	left: 8px;
	top: 8px;
}
.fslider_circle_small--second {
	position: relative;
	left: 8px;
	top: 8px;
}
.fslider_line {
	z-index: 0;
	position: relative;
	left: 30px;
	width: 138px;
	height: 2px;
}
.fslider_line--green {
	background: #00ca74;
}
.fslider_line--gray {
	width: 75px;
	position: relative;
	top: -2px;
	left: 160px;
	background: #d7dcdf;
}

.price-range {
	margin-top: 15px;
	width: 260px;
}
.price-range label {
	margin-right: 8px;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	text-transform: uppercase;
	color: #283136;
}

.price-range input {
	vertical-align: middle;
	display: inline-block;
	text-align: center;
	width: 80px;
	height: 38px;
	line-height: 38px;
	background: #eeeeee;
	border-radius: 3px;
	border: none;
}
.price-range_from {
	margin-right: 20px;
}
.price-range_to {
	margin-right: 0;
}
.grid,
.details {
	position: relative;
}
.grid_label input,
.details_label input {
	height: 0;
	width: 0;
	opacity: 0;
	position: absolute;
}
.grid_label,
.details_label {
	display: block;
	position: relative;
	cursor: pointer;
	padding-left: 35px;
	margin-bottom: 15px;
	line-height: 19px;
	color: #283136;
}
.grid_dot:before {
	position: absolute;
	top: 0;
	left: 0;
	border: 3px solid rgba(77, 77, 77, 0.4);
	background: #ffffff;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	content: " ";
	box-sizing: border-box;
}
.grid_dot:hover:before {
	border: 3px solid rgba(77, 77, 77, 1);
}
.grid_label input:checked ~ .grid_dot:after {
	position: absolute;
	left: 6px;
	top: 6px;
	content: " ";
	width: 8px;
	height: 8px;
	background: rgba(77, 77, 77, 0.4);
	border-radius: 50%;
	box-sizing: border-box;
}
.grid_label input:checked ~ .grid_dot:hover:after {
	background: rgba(77, 77, 77, 1);
}
.grid_label input:disabled ~ .grid_dot:before {
	border: 3px solid rgba(77, 77, 77, 0.1);
}
.grid_label input:disabled ~ .grid_dot:after {
	background: rgba(77, 77, 77, 0.1);
	cursor: default;
}
.grid_label input:disabled:hover ~ .grid_dot:after {
	background: rgba(77, 77, 77, 0.1);
}
input:disabled + .grid_text {
	opacity: 0.3;
}
.card_name-text:hover {
	color: #fb565a;
}
.card_name-text:active {
	color: #000000;
	opacity: 0.3;
}
.details_checkmark:before {
	position: absolute;
	top: 0;
	left: 0;
	border: 1px solid rgba(77, 77, 77, 0.4);
	border-radius: 3px;
	background: #ffffff;
	width: 20px;
	height: 20px;
	content: " ";
	box-sizing: border-box;
}
.details_checkmark:hover:before {
	border: 1px solid rgba(77, 77, 77, 1);
}
.details_label input:disabled ~ .details_checkmark:before {
	border: 1px solid rgba(77, 77, 77, 0.1);
}
.details_label input:checked ~ .details_checkmark:after {
	position: absolute;
	left: 9px;
	top: -2px;
	content: " ";
	width: 7px;
	height: 13px;
	border: solid rgba(77, 77, 77, 0.4);
	border-width: 0 4px 4px 0;
	transform: rotate(45deg);
}
.details_label input:checked ~ .details_checkmark:hover:after {
	border: solid rgba(77, 77, 77, 1);
	border-width: 0 4px 4px 0;
}
.details_label input:disabled ~ .details_checkmark:after {
	border: solid rgba(77, 77, 77, 0.1);
	border-width: 0 4px 4px 0;
}
.details_label input:disabled ~ .details_checkmark:hover:after {
	border: solid rgba(77, 77, 77, 0.1);
	border-width: 0 4px 4px 0;
	cursor: default;
}
.show-button {
	cursor: pointer;
	border: none;
	width: 260px;
	height: 50px;
	background: #eeeeee;
	border-radius: 3px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	display: block;
	padding: 17px 89px;
	color: #000000;
}
.show-button:hover {
	background: #dfdfdf;
}
.show-button:active {
	background: #d5d5d5;
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	color: rgba(0, 0, 0, 0.3);
}

.pagination {
	display: flex;
	gap: 11px;
}
.pagination_button {
	display: block;
	text-align: center;
	line-height: 50px;
	width: 50px;
	height: 50px;
	background: #eeeeee;
	border-radius: 3px;
	box-sizing: border-box;
	font-weight: 500;
	color: #000000;
	text-transform: uppercase;
}
.pagination_button--active {
	background: rgba(0, 0, 0, 0.0001);
	border: 3px solid #dbdbdb;
	line-height: 44px;
}
.pagination_button:hover {
	background: #dbdbdb;
}
.pagination_button:active {
	background: #d5d5d5;
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.pagination_button:active span {
	opacity: 0.3;
}
.next-button {
	width: 260px;
}
.sort {
	margin-left: 50px;
	width: 747px;
}
.sort_type {
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}
.right-content {
	margin: 20px 0 0 140px;
	display: flex;
	flex-direction: column;
}
.sort {
	margin-left: 0;
	display: flex;
	justify-content: space-between;
}
.sort_type {
	width: 360px;
	display: flex;
	justify-content: space-between;
}
.sort a.sort_type--active {
	opacity: 1;
}
.sort a {
	color: #000000;
	opacity: 0.3;
	line-height: 24px;
}
.sort_type span {
	line-height: 24px;
}
.sort_type a:hover {
	opacity: 0.6;
}
.sort_type a:active {
	opacity: 1;
}
.sort_arrow {
	margin-right: 10px;
	display: inline-block;
	height: 0;
	width: 0;
	border-style: solid;
	border-color: transparent;
	cursor: pointer;
}

.sort_arrow--desc:hover,
.sort_arrow--asc:hover {
	color: #000000;
}

.sort_arrow--desc {
	border-width: 10px 6px 0;
	border-top-color: #444444;
}

.sort_arrow--asc {
	border-width: 0 6px 10px;
	border-bottom-color: #444444;
}
