* {
  border: 1px solid red;
}
body {
  width: 1440px;
  height: auto;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  background: #eeeeee;
  padding: 49px 143px 0;
}

.header_basket {
  display: flex;
  gap: 25px;
  align-items: center;
}

.header_basket span {
  text-align: right;
}

.menu {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 45px;
}

.menu_item {
  list-style-type: none;
}

.slider {
  background: #eeeeee;
  padding: 0 143px;
}

.slide_header {
  position: absolute;
  width: max-content;
  top: 75px;
  margin: 0;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.slide_header + p {
  position: absolute;
  width: max-content;
  margin: 0;
  top: 210px;
  line-height: 24px;
  font-weight: 400;
}

.slide_button {
  display: block;
  position: absolute;
  top: 260px;
  text-transform: uppercase;
  background: #fb565a;
  border: none;
  border-radius: 3px;
  width: 240px;
  height: 50px;
  text-align: center;
  padding: 17px 54px 15px;
  margin: 38px 0;
  box-sizing: border-box;
  font-weight: 500;
  color: #ffffff;
}

.slide_image {
  float: right;
}

.nav-dot {
  width: 0;
  height: 0;
}
.nav-dot + label {
  display: inline-block;
  position: relative;
  left: 558px;
  top: 310px;
  margin: 7px;
  z-index: 1;
}

.nav-dot:checked + label + .slide {
  display: inline;
  position: relative;
}

.slide {
  display: none;
}

.nav-dot + label:before {
  cursor: pointer;
  position: absolute;
  left: -50px;
  background: #ffffff;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  content: " ";
  margin: 3px 7px 5px;
  box-sizing: border-box;
}

.nav-dot:checked + label:after {
  position: absolute;
  left: -38px;
  top: 8px;
  content: " ";
  width: 8px;
  height: 8px;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
  box-sizing: border-box;
}

.orders {
  display: flex;
  justify-content: space-between;
  margin: 80px 200px 80px 0;
}

.order_header {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 25px;
  color: #000000;
}

.order_header p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
}

.order_button {
  display: block;
  text-transform: uppercase;
  background: #fb565a;
  border: none;
  border-radius: 3px;
  width: 160px;
  height: 50px;
  text-align: center;
  padding: 17px 40px 15px;
  margin: 49px 0;
  box-sizing: border-box;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
}

.button--red {
  background-color: #fb565a;
}

.button--green {
  background-color: #00ca74;
}

.button--yellow {
  background-color: #efc849;
}

hr {
  height: 2px;
  width: 100%;
  background: #eeeeee;
  border: none;
}

.about_nerds {
  display: flex;
  justify-content: space-between;
  margin-right: 200px;
}

.about_header {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin-top: 73px;
  color: #000000;
}

.about p {
  margin-top: 32px;
}

strong {
  margin-top: 40px;
  text-transform: uppercase;
  color: #000000;
}

.about ul {
  padding: 0;
  /* display: block;
  width: 399px;
  height: 120px */
  margin-top: 23px;
}

.about hr {
  display: inline-block;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  margin-right: 5px;
  vertical-align: middle;
}

.about li {
  list-style-type: none;
  margin-bottom: 20px;
}

.percentage {
  margin-top: 31px;
}
.nerds strong {
  margin-top: 37px;
}
.footer {
  display: flex;
  align-items: center;
  gap: 9px;
  padding: 0 140px 68px;
  margin-bottom: 0;
}

.footer_image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background: linear-gradient(0deg, #e1e1e1, #e1e1e1), #ffffff;
}

.footer_text {
  margin: auto;
}

.footer_text--bold {
  font-weight: 700;
  font-size: 36px;
  display: inline-block;
}
