body {
  width: 1440px;
  height: auto;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  height: 2px;
  width: 1158px;
  background: #eeeeee;
  border: none;
}

.header {
  display: flex;
  justify-content: space-between;
  background: #eeeeee;
  padding: 49px 143px 0;
}

.header_basket {
  display: flex;
  gap: 25px;
  align-items: center;
}

.header_basket span {
  text-align: right;
}

.menu {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 45px;
}

.menu_item {
  list-style-type: none;
}

.slider {
  background: #eeeeee;
  padding: 0 143px;
}

.slide_header {
  width: 520px;
  max-width: 538px;
  position: absolute;
  top: 70px;
  margin: 0;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.slide_header + p {
  width: 370px;
  position: relative;
  top: 180px;
  margin: 0;
  line-height: 24px;
  font-weight: 400;
}

.button {
  display: block;
  text-transform: uppercase;
  background: #fb565a;
  border: none;
  border-radius: 3px;
  width: 160px;
  height: 50px;
  text-align: center;
  padding: 17px 40px 15px;
  margin: 49px 0;
  box-sizing: border-box;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
}

.button--slide {
  position: absolute;
  top: 260px;
  width: 240px;
  padding: 17px 54px 15px;
  margin: 38px 0;
}

.slide_image {
  float: right;
}

.nav-dot {
  width: 0;
  height: 0;
}
.nav-dot + #label1 {
  display: inline-block;
  position: absolute;
  left: 780px;
  top: 440px;
  z-index: 1;
}

.nav-dot + #label2 {
  display: inline-block;
  position: absolute;
  left: 815px;
  top: 440px;
  z-index: 1;
}

.nav-dot + #label3 {
  display: inline-block;
  position: absolute;
  left: 850px;
  top: 440px;
  z-index: 1;
}

.nav-dot:checked + label + .slide {
  display: inline;
  position: relative;
}

.slide {
  display: none;
}

.nav-dot + label:before {
  position: absolute;
  cursor: pointer;
  background: #ffffff;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  content: " ";
  /* margin: 3px 7px 5px; */
  box-sizing: border-box;
}

.nav-dot:checked + label:after {
  position: absolute;
  left: 5px;
  top: 5px;
  content: " ";
  width: 8px;
  height: 8px;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
  box-sizing: border-box;
}

.orders {
  display: flex;
  justify-content: space-between;
  margin: 80px 200px 80px 140px;
}

.order_header {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 25px;
  color: #000000;
}

.order_header + p {
  max-width: 260px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
}

.button--red {
  background-color: #fb565a;
}

.button--green {
  background-color: #00ca74;
}

.button--yellow {
  background-color: #efc849;
}

.about-nerds {
  display: flex;
  justify-content: space-between;
  margin: 73px 140px 73px 140px;
}

.about_header {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin-top: 73px;
  color: #000000;
}

.about p {
  margin-top: 32px;
}

.about-nerds .small-header {
  margin-top: 40px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
}

.about ul {
  padding: 0;
  margin-top: 23px;
}

.about hr {
  display: inline-block;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  margin-right: 5px;
  vertical-align: middle;
}

.about li {
  list-style-type: none;
  margin-bottom: 20px;
}

.nerds {
  text-align: center;
}

.stats {
  display: flex;
  justify-content: space-evenly;
}

.stat {
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.stat .stat_percentage {
  margin: 0;
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  color: #000000;
}

.stat_percentage + p {
  margin: 11px 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
}

.nerds .small-header {
  margin: 37px auto 31px;
  text-transform: uppercase;
}

.stat span {
  font-size: 26px;
  line-height: 40px;
  vertical-align: super;
}

.clients {
  display: flex;
  justify-content: space-between;
  margin: 46px 183px 44px 172px;
}

.vl {
  border-left: 2px solid #eeeeee;
  height: 52px;
}

.client-image {
  display: inline-block;
  height: 100%;
  vertical-align: text-bottom;
}

.client-image:last-child {
  border: none;
}

.contacts {
  margin-top: 80px;
  margin-bottom: 75px;
  position: relative;
}

.contacts img {
  z-index: 0;
}

.contact-form {
  z-index: 1;
  background-color: #ffffff;
  position: absolute;
  left: 140px;
  top: 54px;
  width: 319px;
  height: 308px;
  padding: 49px 39px 50px 47px;
  box-sizing: border-box;
}

.contact-form + img {
  position: absolute;
  left: 822px;
  top: 86px;
}

.contacts .small-header {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.contacts .small-header + p {
  margin-top: 23px;
  margin-bottom: 37px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.button--contact {
  padding: 17px 44px 15px;
  width: 219px;
}

.footer {
  display: flex;
  align-items: center;
  gap: 9px;
  padding: 0 140px 68px;
  margin-bottom: 0;
}

.footer_image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background: linear-gradient(0deg, #e1e1e1, #e1e1e1), #ffffff;
}

.footer_text {
  margin: auto;
  width: 585px;
}

.footer_text--bold {
  font-weight: 700;
  font-size: 36px;
  display: inline-block;
}

.catalog {
  background: #eeeeee;
}

.catalog_header {
  text-align: center;
  margin: 72px auto 108px;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.filters {
  display: flex;
  flex-direction: column;
}
.cards {
  display: flex;
flex-wrap: wrap;
}
